<!--AUTHOR VIEW STARTS HERE -->
<!--complete logic for author view-->
<% if (title == 'Create Author') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Author First Name:<br>
              <input type="text" name="first_name" value="Author First Name">
              <br><br>
              Author Last Name:<br>
              <input type="text" name="last_name" value="Author Last Name">
              <br><br>
               Author Email Address:<br>
              <input type="email" name="email" value="hello@manifest.com">
              <br><br>
              <input type="submit" value="Create Author">
            </form>
        </div>
    </div>

<% } else if (title == 'Patient Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single Patient - <%= patient.firstName %> <%= patient.lastName %> </h1>
             <h3>Personal Info</h3>
             <p>Im a Patient for this ID = <%= patient.id %></p>
             <p>First Name: <%= patient.firstName %></p>
             <p>Last Name:  <%= patient.lastName %></p>
             <p>Gender:  <%= patient.gender %></p>
             <h3>Health Info</h3>
             <p>Ailment:  <%= patient.ailment %></p>
             <p>Status:  <%= patient.health_status %></p>
             <p>Date admitted:  <%= patient.date_admitted.format("ll") %></p>
             <p>Expected discharge date:  <%= patient.expected_discharge_date.format("ll") %></p>
             <a href="/clinic/patient/<%= patient.id %>/update">Edit  Patient</a> | <a href="/clinic/patient/<%= patient.id %>/delete">Delete Patient</a>
        
        </div>
              
    </div>
<% } else if (title == 'Patient List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% patients.forEach(function(patient) { %>
                <li>
                    <h4><a href="/clinic/patient/<%= patient.id %>"><%= patient.first_name %></a></h4>
                    <p>Patient Full Name: <%= patient.firstName %>, <%= patient.lastName %></p>
                    <p>Gender: <%= patient.gender %></p>
                    <p>Health Status: <%= patient.health_status %> </p>
                    <a href="/clinic/patient/<%= patient.id %>/">View Patient</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>

<% } else if (title == 'Due Patient List') { %>
    <div class="col-sm-8">    
        <div class="">
        <h3>Patients that a are due for discharge</h3>
        <ol>
        <% patients.forEach(function(patient) { %>
            <% var days = patient.expected_discharge_date.diff(todays_date, 'days') %>
            
            <% if (days < 0){ %>
                <p>Patient Full Name: <%= patient.firstName %>, <%= patient.lastName %></p>
                <p>Ailment: <%= patient.ailment %></p>
                <p>Health Status: <%= patient.health_status %></p>
                <p>Date Admitted: <%= patient.date_admitted.format('ll') %></p>
                <p>Expected discharge date:  <%= patient.expected_discharge_date.format("ll") %></p>
                <p>This patient is due for discharge by <%= days %> days</p>
            <% } %>
            
        <% }); %>
        </ol>
    </div>
    </div>

<% } else if (title == 'Improving Patient List') { %>
    <div class="col-sm-8">    
        <div class="">
        <h3>Patients whose health status is improving</h3>
        <ol>
        <% patients.forEach(function(patient) { %>
            
            <% if (patient.health_status == 'Improving'){ %>
                <p>Patient Full Name: <%= patient.firstName %>, <%= patient.lastName %></p>
                <p>Ailment: <%= patient.ailment %></p>
                <p>Health Status: <%= patient.health_status %></p>
                <p>Date Admitted: <%= patient.date_admitted.format('ll') %></p>
                <br><br>
            <% } %>
            
        <% }); %>
        </ol>
    </div>
    </div>

<% } else if (title == 'Clinic Dashboard') { %>
    <div class="col-sm-8">    
        <div class="">
        <h3>Clinic Dashboard</h3>
        <ol>
        <p>Total Patients in the Clinic: <%= patients.length %></p>
        <% var male_count = 0 %>
        <% var female_count = 0 %>
        <% patients.forEach(function(patient) { %>
            <% if (patient.gender == 'Male'){ %>
                <% male_count += 1 %>
            <% } %>
        <% }); %>
        <p>Total Male Patients: <%= male_count %></p>
        <p>Total Female Patients: <%= patients.length - male_count %></p>
        </ol>
    </div>
    </div>
    
<% } else if (title == 'Latest Patient List') { %>
    <div class="col-sm-8">    
        <div class="">
        <h3>Patients that are admitted this Month</h3>
        <ol>
        <% patients.forEach(function(patient) { %>
            
            <% if (todays_date.get('month') == patient.date_admitted.get('month')){ %>
                <p>Patient Full Name: <%= patient.firstName %>, <%= patient.lastName %></p>
                <p>Ailment: <%= patient.ailment %></p>
                <p>Health Status: <%= patient.health_status %></p>
                <p>Date Admitted: <%= patient.date_admitted.format('ll') %></p>
            <% } %>
            
        <% }); %>
        </ol>
    </div>
    </div>

<% } else { %>

<% } %>
<!--AUTHOR VIEW END HERE-->
<script>
    function checkCat() {
    var checkBoxes = document.getElementsByClassName( 'categoryCheckbox' );
    var isChecked = false;
    for (var i = 0; i < checkBoxes.length; i++) {
        if ( checkBoxes[i].checked ) {
            isChecked = true;
        };
    };
    if ( isChecked ) {
        
        } else {
            alert( 'Please, check at least one checkbox!' );
        }   
}
</script>